* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 70px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons {
    margin:50px 20px;
    display: flex;
    gap: 45px;
}
button {
    padding: 10px 20px;
    font-size: 100px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.2s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: #a200ff;
}
#paper {
    background-color: #9ee01a;
}
#scissors {
    background-color: #7dbeed;
}

p {
    font-weight: bold;
    font-size: 2.2em;
    margin-bottom: 10px;
}

h1 {
    font-size: 3.5em;
}

.your-score span {
    color: rgb(97, 97, 219);
}

.machine-score span {
    color: rgb(238, 81, 81);
}
